@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
*{
    box-sizing: border-box;
    border-radius: 0;
    border: 0;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Quicksand', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
img{
    width: 60vw;
    /*border-radius: 50%;*/
    margin: 5px;
    max-width: 400px;
    animation: imgTurn 3s ease-out;
    /*box-shadow: #51864c 0px 1px 15px;*/
}
@keyframes imgTurn {
    0% {
        transform: translate(0px, 10px);
    }
    50%{
        transform: translate(0px, 4px);
    }
    100% {
        transform: translate(0);
    }
  }
.top{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 87%;
}
#title{
    margin-bottom: 5px;
    margin-top: 10px;
    color: #EEEEEE;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    animation: infiniteFade 4s ease-in;
    font-size: large;
}
#title2{
    margin-bottom: 0px;
    margin-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #EEEEEE;
    opacity: 90%;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    font-size: small;
    padding: 0 0px 0 0px;
}
@keyframes infiniteFade {
    0% {
        opacity: 0%;
    }
    50%{
        opacity: 60%;
    }
    100% {
        opacity: 100%;
    }
  }
.links{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 87%;
    padding: 5px;
}
button{
    margin: 5px;
    padding: 18px;
    width: 70vw;
    max-width: 720px;

    background-color: #37474F;
    color: #EEEEEE;
    border-radius: 25px;
    cursor: pointer;
    font-weight:300;
    font-size: medium;
    text-shadow:#000000 0px 2px 10px;
    box-shadow: #37474F 0px 1px 10px;
    transition: 200ms;
    animation: btnSpaw 500ms ease-out;
}
@keyframes btnSpaw {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
  }
button:hover{
    color: #000000;
    background-color: #EEEEEE;
    text-shadow:none;
    font-weight:600;
    
}
#cursobtn{
    background-color: #FFC727;
    color: #37474F;
    text-shadow:#eeeeee03 0px 2px 10px;
    font-weight: 600;
    box-shadow: #caa02a 0px 10px 0px;
}
#cursobtn:hover{
    color: #000000;
    background-color: #EEEEEE;
    text-shadow:none;
    font-weight:600;
    box-shadow: #95938f 0px 10px 0px;
}
#btnwpp{
    width: 70vw;
    max-width: 220px;
    background-color: #54c648;    
    box-shadow: none;
}
.footer{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 87%;
    padding: 20px;
    text-align: center;

    color: #EEEEEE;
    font-weight:300;
    font-size: 15px;
    animation: footerSpaw 4s ease-out;
}
@keyframes footerSpaw {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
  }
a{
    text-decoration: none;
    color: #DC5F00;
    transition: 200ms;
}
a:hover{
    color: #EEEEEE;
}
hr{
    margin: 60px 0 40px 0;
    width: 80vw;
    max-width: 800px;
    height: 1px;
    background-color: #EEEEEE;
    opacity: 40%;
}
.topbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo{
    color: #FFC727;
    height: 100%;
    padding: 20px;
    font-weight: 600;
    opacity: 90%;
}
.hrtop{
    width: 94vw;
    min-width: 90vw;
    margin: 0;
    opacity: 20%;
}